.body {
    background-color: #9999654e;
    color: #482673;
}

.main-div {
    background-color: #ebf6f2;
    width: 904px;
}

header {
    color: #482673;
}

.h1 {
    color: #1b4d89;
    font-family: fantasy;
}

h1:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px rgb(0, 204, 255);
    text-transform: uppercase;
}

h5:hover {
    cursor: auto;
    text-transform: uppercase;
}

table,
th {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 109px;
    padding: 2px;
    box-shadow: 0 0 20px rgb(49, 49, 49, 0.2);
    background-color: rgba(99, 187, 177, 0.1);
    color: white;
}

i {
    width: 107px;
    border: none;
    color: black;
}

th {
    background-color: rgba(99, 187, 177, 0.844);
}

input {
    width: 107px;
    padding: 2px;
    background-color: #fffbf0;
    border: none;
    color: #183a1d;
}

label {
    margin: 5px;
}

footer {
    width: 871px;
    background-color: #e7eedd;
}

.footer-input {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 75px;
}

button{
    background-color: #ebf6f2;
    border: 1px solid black;
}