body {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.main-div {
  width: 300px;
  height: fit-content;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 35px;
}

label {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
}

p {
  width: 100%;
  display: inline-block;
  margin: 0px;
}
span {
  color: red;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
