body{
  margin-top: 70px;
  background-color: #c5e4e7;
}

#heading-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  color: #00474b;
}

#main-div {
  padding: 30px;
  width: 550px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#sub-div{
  display: flex;
  justify-content: space-between;
}

#detail-div{
  width: 47%;
}

#split-div{
  width: 39%;
  padding: 25px;
  border-radius: 10px;
  display: grid;
  align-content: space-between;
  background-color: #00474b;
  color: white;
}

label{
  font-size:12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #00474b;
}

input[type="number"]{
  width: 100%;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: monospace;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
  border-color: #2db0a3;
}

button{
  width: 80px;
  padding: 7px;
  margin-bottom: 8px;
  margin-right: 4px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: monospace;
  background-color: #00474b;
  font-weight: bold;
}

button:hover{
  background-color: #9fe8de;
  color: #00474b;
  cursor: pointer;
}

span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.totalValue{
  display: flex;
  justify-content: end;
  margin: 0px;
  font-family: monospace;
  font-size: xx-large;
  font-weight: bold;
  color: #2db0a3;
}

#tipAmount-div{
  display: flex;
  justify-content: space-between;
}

#totalAmount-div{
  display: flex;
  justify-content: space-between;
}

#reset-btn{
  width: 100%;
  margin-bottom: 0px;
  margin-top: 40px;
  font-family: none;
  background-color: #9fe8de;
  color: #00474b;
  border: none;
}

#reset-btn:hover{
  background-color: #35cfc0;
}
